<%- include('partials/header', { title: 'Bootcamp' }) %>

<main>
    <h1>Bootcamp</h1>
    <p>Dive deep into technology with our intensive bootcamp programs. Designed to take you from novice to professional in a matter of months, our bootcamps cover the most in-demand skills in the tech industry. Join us and start your journey to a rewarding career in technology.</p>
</main>

<%- include('partials/footer') %>
