<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/hiring">Hiring</a></li>
                <li><a href="/training">Training</a></li>
                <li><a href="/bootcamp">Bootcamp</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <%= content %>
    </main>
</body>
</html>
