<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Operation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Select an Operation</h2>
        <div class="list-group mt-4">
            <a href="/users" class="list-group-item list-group-item-action">View Users</a>
            <a href="/users/new" class="list-group-item list-group-item-action">Add Another User</a>
            <a href="/users/edit" class="list-group-item list-group-item-action">Edit Users (Select from list)</a>
            <a href="/users/delete" class="list-group-item list-group-item-action">Delete Users (Select from list)</a>
        </div>        
    </div>
</body>
</html>

